<html>
  <head>
    <title>Vue.js Basics</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  </head>
  <style>

  </style>
  <body>

    <h1>Vue Basics</h1>
    <div id="app">
      <h2>{{ title }}</h2>
      <button @click.alt="logMessage">alt click me</button>
      <button @click.shift="logMessage">shift click me</button>
      <a href="http://www.google.com" @click.prevent="logMessage">Google</a>
      <p></p>
      

      <button @click="toggleName">Mostrar o Mario? {{ showName }}</button>
      <p v-if="showName">Mario</p>
      <p v-else="showName">Wario</p>
      <ul>
       <li v-for="item in items">{{ item }}</li> 
      </ul>

      
        <div v-for="(ninja, index ) in ninjas">
          <p><strong>{{ index }} - {{ ninja.name }}</strong></p>
          <p>Age: {{ ninja.age }}</p>
          <p>Belt Colour: {{ ninja.belt }}</p>
        </div>
      
    </div>

    <script src="app.js"></script>
  </body>
</html>
